<div class="container">
<div class="center">
  <p><div class="upvote-button"><a href="/questions/<%= @question.id %>/vote" > + </div></a>  Votes: <%= @question.votes.count %></p>
  <h3><%= @question.title %></h3>
  <%= @question.body %>
  <div class="answers">
    <h4>Answers:</h4>
    <% @answers.each do |answer| %>
      <div class="comment">

        <p><a href="/questions/<%= answer.id %>/vote"> + </a> Votes: <%= answer.votes.count %></p>
        <%=answer.body  %>
      </div>
    <%end %>
    <% if session[:user_id] %>
    <form method="get" action="/answers/new">
      <button type="submit">Submit an Answer</button>
    </form>
    <%end %>
  </div>
</div>
</div>
